@model IEnumerable<SerialService.ViewModels.User.ShowCommentViewModel>

@if (Model != null && Model.Any())
{
    <div id="comment-container">
        @{
            foreach (var item in Model.OrderByDescending(c => c.AddDateTime))
            {
                @Html.Partial("../User/DetailPage/CommentCardPartial", item)
            }
        }
    </div>
    if (Model.Count() > 1)
    {
        <a id="show-all-comments-ref" class="mdl-cell--4-offset-desktop mdl-cell--5-col-desktop" href="#">Показать все комментарии</a>
    }
}
