@model IEnumerable<SerialService.ViewModels.User.ShowCommentViewModel>

@if (Model != null && !Model.Any())
{
    <div id="no-comments-message">Еще никто не поделися своим мнением</div>
    <div id="comment-container"></div>
}
else
{
<div id="comment-container mdl-card">
    @{
        foreach (var item in Model.OrderByDescending(c => c.AddDateTime))
        {
            @Html.Partial("../User/DetailPage/CommentCardPartial", item)
        }
        <div>
            <a id="show-all-comments-ref" href="#">Показать все комментарии</a>
        </div>
    }
</div>
}
