
@{
    ViewBag.Title = "AboutProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "О проекте Motus-cinema";
}
<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--6-col mdl-cell--12-col-phone mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Что такое Motus?</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Привет от команды Motus-cinema!<br /><br />
        Что такое Motus-cimena?<br />
        Motus-cinema - это агрегатор фильмов и сериалов доступных в интернете. Мы собрали для вас лучшие кинопроизведения
        в HD-качестве в одном месте, реализовали мощный функционал для поиска и фильтрации и постарались предоставить максимальную
        скорость для комфортного использования.<br /><br />
        Наша команда постоянно работает над расширением функционала приложения и оптимизацией.
        Будет добавлено множество интересных возможностей для наших пользователей.
        Списки фильмов пополняются ежечасно.
        Motus с каждым днем становится быстрее и удобнее.<br /><br />
        Мы всегда рады вашим отзывам в комментариях и открыты для новых предложений.<br />
        Приятного просмотра!
    </div>
</div>
