
@{
    ViewBag.Title = "ForHolders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Правообладателям";
}
<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--6-col mdl-cell--12-col-phone mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Об авторских правах</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Ресурс Motus-cinema действует в соответствии с законодательством Российской Федерации о защите информации и авторских прав.<br /><br />
        Сбор материала представляемого на ресурсе осуществляется автоматически и только из открытых источников.<br />
        Мы не храним копий на серверах.
        Администрация сайта не осуществляет деятельность, связанную с публикацией нелицензионного контента,
        находящегося под защитой авторского права.<br /><br />
        Мы всегда готовы оказывать содействие по пресечению нелегального использования интеллектуальной собственности.<br /><br />
        При подтверждении, мы удалим контент, защищенный авторским правом.
        При возникновении спорных ситуаций, присылайте свои письма на адрес электронной почты:<a>support@motus-cinema.com</a>.
    </div>
</div>

