@model PagedList.IPagedList<SerialService.Models.ElasticVideoMaterial>
@using PagedList.Mvc;
<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
<link href="~/Content/mdl-v1.1.2/material.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Other/PagesBar.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Other/UserContent.css" rel="stylesheet" />

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/User/CardAndPopovers.css"/>
<div class="content">
    <div class="film-list mdl-grid">
        @foreach (var item in Model)
        {
            @Html.Partial("MotusFilmCard", item)
            @Html.Partial("MotusPopover", item)
        }
    </div>
    <div class="pages">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
<script src="~/Scripts/User/UserMain.js"></script>
