@using Microsoft.Owin.Security

<div class="mdl-card__title">
    @*<div class="mdl-card__title-text">Авторизация через внешние сервисы</div>*@
    <div>Еще...</div>
</div>
@{
    var providers = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    if (providers.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account"))
        {
            @Html.AntiForgeryToken()

            foreach (AuthenticationDescription item in providers)
            {
                <button type="submit" class="mdl-button mdl-js-button acc-button" id="@item.AuthenticationType"
                        name="Provider" value="@item.AuthenticationType" title="Войти при помощи @item.Caption">
                    <img alt="" src="http://fm21.ru/Content/_img/vk.png" height="32" width="32" style="vertical-align:middle" />
                </button>
            }
        }

    }
}
