@{
    ViewBag.Title = "Сброс пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .mdl-textfield{
        width:100%;
    }
    .mdl-tabs__tab{
        font-size:small !important;
    }
</style>
<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--4-col-desktop mdl-cell--12-col mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">@ViewBag.Title</h2>
    </div>
    <div class="acc-form-container mdl-cell--12-col">
        <div class="acc-form-container mdl-cell--12-col">
            <form method="post" class="mdl-cell--12-col" id="login-form">
                <div class="mdl-tabs mdl-js-tabs">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#by-email" class="mdl-tabs__tab is-active">Почта</a>
                        <a href="#by-parole" class="mdl-tabs__tab">Секретное слово</a>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="by-email">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input forgot-form-input" name="Email" type="email" id="email">
                            <label class="mdl-textfield__label" for="email">Email...</label>
                        </div>
                    </div>
                    <div class="mdl-tabs__panel" id="by-parole">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input forgot-form-input" name="Parole" maxlength="100" pattern="[A-Za-zА-Яа-яЁё]+" id="parole">
                            <label class="mdl-textfield__label" for="parole">Секретное слово...</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mdl-cell--12-col"><span style="display:none" class="error"></span></div>
        <div class="mdl-card__actions mdl-card--border">
            <button type="button" id="submit-btn" disabled class="mdl-button mdl-js-button acc-button">
                Сбросить
            </button>
        </div>
    </div>
</div>
<script src="~/Scripts/AccountForms/CommonForm.js"></script>
<script src="~/Scripts/AccountForms/ForgotPasswordForm.js"></script>
