
@model SerialService.Models.EmailForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
}

<h2>@ViewBag.Title.</h2>

@Html.ActionLink("Отправить письмо на emale", "EmailForgotPassword")
@Html.ActionLink("Восстановить с помощью секретного слова", "ParoleForgotPassword")
