@using SerialService.Models
@model LoginViewModel
@{
    ViewBag.Title = "Войти";
}

<link rel="stylesheet" href="~/Content/AccountForms/AccountForms.css" />
<div class="mdl-card mdl-shadow--2dp acc-card mdl-cell--4-col mdl-cell--12-col-phone mdl-grid">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Войти</h2>
    </div>
    <div class="acc-form-container mdl-cell--10-col mdl-cell--12-col-phone mdl-grid">
        <form method="post" class="mdl-cell--12-col" id="login-form">
            @Html.AntiForgeryToken()
            <input hidden name="ReturnUrl" value="@ViewBag.ReturnUrl">
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                <input class="mdl-textfield__input" name="Email" required type="email" id="email">
                <label class="mdl-textfield__label" for="email">Email...</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                <input class="mdl-textfield__input" name="Password" required pattern="[A-Za-zА-Яа-яЁё0-9]{6,16}" type="password" id="password">
                <label class="mdl-textfield__label" for="password">Пароль...</label>
                <span class="mdl-textfield__error">Пароль длиной не менее 6 символов, состоящий из букв и цифр</span>
            </div>
            <div class="mdl-cell--12-col"><span style="display:none" class="error"></span></div>
            <label style="margin-top:50px" class="mdl-checkbox mdl-cell--12-col mdl-js-checkbox mdl-js-ripple-effect" for="remember">
                <input type="checkbox" id="remember" name="RememberMe" class="mdl-checkbox__input" value="true" checked>
                <span class="mdl-checkbox__label">Запомнить меня</span>
            </label>
        </form>
        <div class="mdl-cell--12-col forget-password">
            @Html.ActionLink("Забыли пароль?", "ForgotPassword", null, null, new { @class = "forget-password-link" })
        </div>
        @*<div class="mdl-cell--12-col">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <button type="button" disabled id="submit-btn" class="mdl-button mdl-js-button acc-button">
            Войти
        </button>
    </div>
</div>
<script src="~/Scripts/AccountForms/CommonForm.js"></script>
<script src="~/Scripts/AccountForms/LoginForm.js"></script>