<div style="margin-top:5px" class="search-container mdl-textfield mdl-cell mdl-cell mdl-js-textfield mdl-cell--12-col mdl-shadow--2dp">
    <i class="material-icons">search</i>
    <input class="mdl-textfield__input search" type="text" searchType ="film" />
</div>
<div class="search-result"></div>
<script>
    $(document).ready(function () {
        GetTable()
    })
</script>