@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/mdl-v1.1.2/material.min.css">
<script src="~/Content/mdl-v1.1.2/material.min.js"></script>
<dialog id="for-redactor-modal" class="mdl-cell mdl-cell--6-col mdl-dialog">
</dialog>
<div class="row">
    <button id="redactor-menu-button" class="mdl-button mdl-js-button mdl-button--raised">
        Добавить
    </button>
</div>
<script>
    function ShowRedactorMenu() {
        var redactorMenu = document.querySelector("#for-redactor-modal");
        $("#redactor-menu-button").click(function () {
            $.ajax({
                type: "POST",
                url: "../RedactorTools/Index",
                success: function (result) {
                    if (result) {
                        $("#for-redactor-modal").html(result);
                        componentHandler.upgradeAllRegistered();
                    }
                }
            });
            if (!redactorMenu.showModal) {
                dialogPolyfill.registerDialog(redactorMenu);
            }
            redactorMenu.showModal();
        });
    };
    $(document).ready(function () {
        ShowRedactorMenu();
    }
        )
</script>